*{margin: 0; padding: 0;}
.layout { width:80%; margin:0 auto; } 
.fullS{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-30%, -65%);
    margin-bottom: 0%;
}

.logo{
	position: relative;
	left : -4vw;
	width:20vw;
	height: auto;
}
.log_t{
	width : 12vw;
	height : 3vh;
}