@charset "EUC-KR";


@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

.layout {
	width: 100%;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 10vh;
	background-color: whitesmoke; 
	/* margin: 0 auto; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	font-size: 2vh;
}
.name_s{
	color:grey;
}

.head {
	position: relative;
	left: 15vw;
}

.container_h {
	display: flex;
	flex-wrap: nowrap;
}

.logo {
	width: 7vw;
	height: auto;
}

a {
	text-decoration: none;
}

nav {
	margin-right: 15vw;
}

nav>ul>li {
	display: inline-block;
	margin: 0 10px;
}

nav>ul>li>a {
	color: black;
	text-decoration: none;
}

nav>ul>li>a:hover {
	color:#667db6;
}

.clear{
	clear:both;
}
.li.on{
	color:#1726aa;
}

.fullD {
	width: 100%;
	height: auto;
	flex-wrap: wrap-reverse;
}

.d1, .d2, .d3, .d4 {
	position: relative;
	top: 30vh;
	width: 13vw;
	height: 55vh;
	background: black;
	display: inline-block;
	cursor: pointer;
	z-index: 1;
	margin: 1%;
}

.d1_1 {
	background-color: black;
	opacity: 0.7;
	cursor: pointer;
	z-index: 1;
}

.fireplug_1 {
	width: 13vw;
	height: 55vh;
	position: absolute;
	left: 0;
	top: 0vh;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.fireplug_1:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}
.fireplug_1:hover > a{
	color: #005AA7;
}

.pages {
	width: 13vw;
	height: 55vh;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.pages:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.machine {
	width: 13vw;
	height: 55vh;
	position: absolute;
	left: 0;
	top: 0vh;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.machine:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.my_machine {
	width: 13vw;
	height: 55vh;
	position: absolute;
	left: 0;
	top: 0vh;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.my_machine:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.box_text {
	position: absolute;
	left: 1vw;
	top: 2vh;
	color: white;
	font-size: 25px;
	font-weight: bold;
	z-index: 15;
	opacity: 1;
}

.d1, .d2, .d3, .d4 {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}

.d1:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.d2:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.d3:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.d4:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.page {
	float: left;
	width: 100%;
	min-height: 100vh;
	height: 1000px;
	text-align: center;
	padding: 0.073% 0 0 0;
	text-align: center;
	padding: 0 auto;
	
}

/* page2 */

.scrolltable {
	table-layout: fixed;
	border-collapse: collapse;
	border: none;
	font-size: 1vw;
	margin: 0 auto;
}

.scrolltable thead {
	display: block;
	background: #041159;
	color: #fff;
}

.scrolltable tbody {
	display: block;
	overflow: auto;
	height: 550px;
	scrollbar-width: thin;
	font-size : 1.2vw
}

tbody::-webkit-scrollbar {
	width: 5px;
}

tbody::-webkit-scrollbar-track {
	background-color: #e4e4e4;
	border-radius: 100px;
}

tbody::-webkit-scrollbar-thumb {
	background-color: #d4aa70;
	border-radius: 100px;
}

tbody {
	scrollbar-color: #D4AA70 #e4e4e4;
}

tbody::-webkit-scrollbar-thumb {
	background-image: linear-gradient(180deg, #bdc3c7 0%, #041159 99%);
	box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
	border-radius: 100px;
}

.scrolltable th, .scrolltable td {
	padding: 10px;
	text-align: left;
	text-align: center;
	font-size: 0.875em;
}

.scrolltable tbody tr:nth-child(2n+1) {
	background-color: #f0f0f0;
}

.modal_wrap {
	display: none;
	width: 500px;
	height: 420px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	background: #fff;
	z-index: 3;
}

.black_bg {
	display: none;
	position: fixed;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 2;
}

.modal_close {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -30px;
	right: 0;
}

.modal_close>a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
	cursor : pointer;
}

.modal_btn {
	background: none;
	cursor: pointer;
	outline: none;
}

.pw_h, .pw_d {
	text-align: center;
}

.pw_h {
	position: relative;
	top: 5vh;
}

.pw_d {
	position: relative;
	top: 11vh;
}
.pw_input {
	width : 13vw;
	height : 3vh;
    border : 0 solid;
    padding : 3px;
    margin : 3px;
}


input {
	width: 13vw;
	height: 3vh;
	margin: 3px 0;
}

.pw_d>button {
	background: #252D59;
	cursor: pointer;
	display: inline-block;
	outline: none;
	color: mintcream;
	font-size: 15px;
	font-weight: bold;
	width: 13.5vw;
	height: 4vh;
	border-radius: 5px;
	border: 2px solid white;
	margin: 7px 0;
}

.container>.btn {
	margin: 60px;
	padding: 20px 40px;
	font-size: 30px;
	border-radius: 40px;
}

.modal {
	background: #fff;
	width: 60%;
	height: 60%;
	margin: 8% 0;
	padding: 0;
	transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	top: 100%;
	position: fixed;
	left: 20vw;
	text-align: center;
	z-index: 9999;
}

.modal_header {
	padding: 20px;
	border-bottom: 1px solid #ddd;
	font: 300 24px Lato;
	position: relative;
}

.modal_main {
	padding: 50px;
	font: 300 16px Lato;
	position : relative;
	top :1vh;
}

.btn {
	background: #041159;
	padding: 10px 25px;
	display: inline-block;
	border-radius: 25px;
	margin: 20px 0;
	color: #fff;
	position: relative;
	transition: all .4s ease;
	cursor: pointer;
}

.btn_p {
	position: relative;
	top: 4vh;
	left: 10vw;
}

.btn, #hold_rep, #fine_rep, #fine_hold_rep, #delet_rep{
	background: #041159;
	padding: 10px 25px;
	display: inline-block;
	border-radius: 25px;
	margin: 20px 0;
	color: #fff;
	position: relative;
	transition: all .4s ease;
	cursor: pointer;
}

.container.modal-open .modal {
	top: 0;
}

.detail_t {
	position: relative;
	top: 2.5vh;
	left: 31vw;
	text-align:left;
}
.detail_t > td:nth-child(1){
	text-align:center;
}

tr {
	height: 5vh;
}

.id_d {
	width: 5vw;
}


.id {
	width: 8vw;
}

.loca {
	width: 25vw;
}

.date {
	width: 13vw;
}

.detail {
	width: 10vw;
}


.modal_close_div {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -13vh;
	right: 0;
}

.numberpad{
	width: 25vw;
   height: auto;
   position: fixed;
   left: 27vw;
	
	
}
.modal_close_1 {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
	position: relative;
	transition: all .4s ease;
	cursor: pointer;
}

#ti_mi {
	position: relative;
	top: 18vh;
}

.scrolltable {
	position: relative;
	top: 25vh;
}

tr {
	height: 5vh;
}

/* page3 */

.container-1>.btn {
	margin: 60px;
	padding: 20px 40px;
	font-size: 30px;
	border-radius: 40px;
	position: relative;
}

.modal-1 {
	background: #fff;
	width: 60%;
	height: 60%;
	margin: 10% 0;
	padding: 0;
	transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	top: 100%;
	position: fixed;
	left: 20vw;
	text-align: center;
	z-index: 9999;
}

.container-1.modal-open-1 .modal-1 {
	top: 0;
}

.modal_close_div_1 {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -12vh;
	right: 0;
}

.modal_close_1_1 {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
	position: relative;
	transition: all .4s ease;
	cursor: pointer;
}

/* page4 */

.scrolltable_1 {
	position: relative;
	top: 25vh;
	font-size: 1vw;
	margin: 0 auto;
}

.scrolltable_1 thead {
	display: block;
	background: #041159;
	color: #fff;
}

.scrolltable_1 tbody {
	display: block;
	overflow: auto;
	height: 350px;
	scrollbar-width: thin;
	font-size : 1.2vw
}

.scrolltable_1 th, .scrolltable_1 td {
	padding: 10px;
	text-align: left;
	text-align: center;
	font-size: 0.875em;
}

.scrolltable_1 tbody tr:nth-child(2n+1) {
	background-color: #f0f0f0;
}

/* page5 */
.delete_id{
	
	border: 0;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
	background-color: transparent;
	
}
.delete_id:hover{
	color: #667db6;
}

.add_p {
	position: relative;
	top: 28vh;
}

.add_d {
	width: 5vw;
	height: auto;
}

#add_btn {
	border: 0;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
	background-color: transparent;
}

.add_wrap {
	display: none;
	width: 500px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	background: #fff;
	z-index: 3;
	
}

.add_close {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -30px;
	right: 0;
}

.add_close>a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
	cursor : pointer;
	
}

.add_bg {
	display: none;
	position: fixed;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 2;
}
.add_t{
	position:relative;
	left : -5vw;
}


.add_input {
	width : 13vw;
	height : 3vh;
    border : 0 solid;
    padding : 3px;
    margin : 3px;
}
.add_input:focus {
	outline: none;
}

input:focus::-webkit-input-placeholder {
	color:transparent; }


#adding_btn{
	border: 2px solid #252D59;
	background-color: #252D59;
	color : #fff;
	padding: 5px;
    border-radius: 5px;
    font-weight:bold;
    font-size: 18px;
    cursor : pointer;
    width: 13vw;
    height: 4.5vh;
    font-family: 'Pretendard-Bold';
}

.hr_one {
	width: 50%;
	margin: 0 auto;
}

footer {
	clear: both;
	width: 100%;
	height: 162px;
	background-color: #252D59;
	text-align : center;
	position:relative;
	top:38vh;
	color : whitesmoke;
	font-size : 13px
}
p{
	line-height : 20px;
}
	
	