*{margin: 0; padding: 0;}
.layout { width:80%; margin:0 auto; } 
header {
    position : fixed;
    top: 0;
    width:80%; 
    height:10vh; 
    margin:0 auto;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    }


.head{
    position: relative;
    left: 5%;
}
.container{
	display : flex;
	flex-direction: row;
	flex-wrap : nowrap;
    justify-content: space-evenly;
    /* display: none; */
  text-align: center;
}
a{
    text-decoration: none;
}
#page1{
    float:left; 
    width:100%; height: 100vh;
    background-color:rgb(95, 141, 141); 
    text-align: center; padding: 0.073% 0 0 0; 
}
table{
    position: relative;
    top : -5vh;
    left :3vw;
}
tr{
    height: 5vh;
}
.numberpad{
	width : 25vw;
	hegith : auto;
	position : relative;
	left : -25vw;
	top : 30vh;
}

.login {
  width: 40%;
  height: 40%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(80%);
  background-color: rgba(30, 30, 30, 0.7);
  flex-direction: column;
  display: flex;
  opacity: 0;
  transition: all 0.5s;
}
.login > form {
  display: flex;
  flex-direction: column;
}
.login span {
  width: 120px;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin: 80px 0 30px 60px;
  border-bottom: 2px solid #fff;
}
.login input {
  width: 40%;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.7);
  margin: 0 0 5px 60px;
  padding-left: 20px;
}
input::placeholder {
  color: #999;
}
.login input:focus {
  background-color: rgba(50, 50, 50, 0.7);
}

.login > form > input:nth-child(3) {
  width: 120px;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 7px -7px 0 0 rgb(8, 8, 8);
  margin: 10px 0 0 60px;
  padding-right: 40px;
  letter-spacing: 5px;
}
.login_close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.login_close:hover {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 50%;
}
.login_close img {
  width: 80%;
  position: relative;
  top: 10%;
  left: 10%;
}
